html {
    overflow-y: scroll;
}

hr {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}


input[type=text], select, input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

table.books {
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th.books-header {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #607d8b;
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    color: white;
}



tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.editText {
    height: 200px;
    width: 100%;
}

.commentBorder {
    border: 1px solid black;
    padding: 1%;
    margin: 1%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

.large {
    font-size: large;
}

.widgetAddon {
    border: 1px solid black;
}

.bild_jag {
    width: 200px;
    height: 200px;
    transform: rotate(90deg);
    margin: 10px;
}

.phpImg {
    height: 300px;
    width: 75%;
    margin-right: 12%;
    margin-left: 12%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.popUpmes {
    padding: 8px;
    color: #fff;
    opacity: .83;
    transition: opacity .6s;
    margin-bottom: 15px;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 550px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.widget {
    width: 98.0%;
    height: 50px;
    margin: 0 1.0% 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;

}

.widget2 {
    width: 98.0%;
    min-height: 50px;
    margin: 0 1.0% 10px;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
    background-color: green;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}

/*---------------------------------------------------------------------------------*/
/*media style widgets*/
/*---------------------------------------------------------------------------------*/
@media (min-width: 500px) {
    .widget {
        width: 48.0%;
    }

}

@media (min-width: 700px) {
    .widget {
        width: 31.3333333333333%;
    }

    .widget2 {
        width: 48.0%;
        margin-left: 25%;
    }
}

@media (min-width: 980px) {
    .widget {
        width: 23.0%;
    }
}

@media (min-width: 1199px) {
    .widget {
        width: 23.0%;
    }
}
